
<!DOCTYPE html>
<html>
    <head></head>
    <body>

<h2 class = "titulo">Especificaciones</h2>
<div class ="formulario" >

<label for="nombre">Nombre :</label>
<input  class="form-control"  id="nombre" type="string" placeholder="Nombre de la obra" name="nombre" [(ngModel)]="obra.nombre" maxlength="30" >  <br>

<label for="autor">Autor/a :</label>
<input  class="form-control"  id="autor" type="string" placeholder="Autor/a" name="autor" [(ngModel)]="obra.autor" maxlength="30" >  <br>

<label for="descripcion">Descripción :</label>
<input  class="form-control"  id="descripcion" type="string" placeholder="Descripción de la obra" name="descripcion" [(ngModel)]="obra.descripcion" maxlength="100" >  <br>

<label for="fecha">Año de creación :</label>
<input  class="form-control"  id="fecha" type="number" placeholder="XXXXXXXX" name="fecha" [(ngModel)]="obra.fecha" maxlength="8" min="0" >  <br>

<br>
      <label for="acdc">Antes/Después de cristo: </label> <br>
    <input name="acdc" ng-control="options" type="radio" [value]="true"  [(ngModel)]="obra.acdc" > AC
    <input  name="acdc" ng-control="options" type="radio" [value]="false"  [(ngModel)]="obra.acdc" > DC
      <br>



<br>
<button class="btn btn-success" (click)="save()" [routerLink]="['/obra/list']">Guardar</button>
<button class="btn btn-secondary" (click)="volver()" >Salir</button>

</div>

<br>

<button class="btn btn-primary" routerLink="/obra/list">Ver lista de obras</button>

<div *ngIf="mensaje">{{mensaje}}</div>

</body>

</html>

<style>
    body
    {
        width: 500px !important; 
       text-align: center !important;
       background: rgba(255,255,255,0.5);
       border-radius: 10px;
      
       margin: auto;
       
       
    }
    
    .formulario
    {
      margin-top: 40px;
      display: inline-block;
      display: block;
      max-width: 280px;
      margin: 0 auto; 
    }
    
    .titulo
    {
      margin-top: auto;
    }
    
    
    </style>
