<h1 class="display-1 text-center">Javier, arte en estado puro</h1>
<h2 class="display-2 text-center">Tu museo y cada dia el de más gente.</h2>

<br>



<ul id="index">
    <div class="text-center">
        <button style="margin:80px;" type="button" class="btn btn-success" routerLink="/tipo/list">ESTILOS</button>


        <button style="margin:80px;" type="button" class="btn btn-info" routerLink="/obra/list">OBRAS</button>
      </div>
</ul>



<style>
    .btn-info
    {
        width: 200px !important;
        height: 200px !important;
        font-size: 30px;
        border: 2px solid rgb(0, 0, 0);
        font-weight: 800;
        border-radius: 15px;
        background-color: rgb(207, 207, 207);
    }
  

    .btn-success
    {
        width: 200px !important;
        height: 200px !important;
        font-size: 30px;
        border: 2px solid rgb(255, 255, 255);
        font-weight: 800;
        border-radius: 15px;
        background-color: rgb(92, 92, 92);
    }


    h2
    {
        font-size: 20px;
        color: black;
    }

    hr.style18 
    { 
        height: 30px; 
        border-width: 1px 0 0 0; 
        border-radius: 20px; 
    }

    hr.style18:before 
    { 
        display: block; 
        content: ""; 
        height: 30px; 
        margin-top: -21px; 
         
        
        border-width: 0 0 1px 0; 
        border-radius: 20px; 
    }

    .text-center
    {
     padding: 10px;   
    }


</style>
