<label for="obra">Obras del estilo artístico: </label>
<ng-multiselect-dropdown [placeholder]="'Selecciona las obras'" [data]="obras" [settings]="dropdownSettings"
  name='obra' [(ngModel)]="obrasSeleccionadas">

</ng-multiselect-dropdown><br>

<h6>Las obras del estilo artístico son: </h6>

<div *ngFor="let obra of obrasDelTipo" id="update">
  <h5 style="font: size 12px;;" routerLink="/obra/{{obra.id}}">{{obra.nombre}}</h5>
</div>
<br>

<button class="btn btn-success" (click)="save()" >Confirmar</button>

